body{
    margin: 0;
    padding: 0;
    font-family: 'lato' , sans-serif;
    font-size: 16px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.nav{
    width: 100%;
    background-color: rgba(450,0,60,0.8);
    color: #fff;
}

.menu{
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav .menu .menu_item{
    display: inline-block;
    position: relative;
}
.nav .menu .menu_item a{
    padding: 12px 24px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: block;
}
.submenu{
    display: none;
    text-transform: none;
    position: absolute;
    width: 220px;
    background-color: rgba(0,0,0,0.8);
}
.menu_item:hover .submenu{
    display: block;
}
.submenu_item:hover{
    background-color: rgba(0,0,0,0.4);
    border-left: 4px solid red;
}
.menu_item:hover{
    background-color: darkgoldenrod;
}
.title h1{
    color: white;
    font-size: 70px;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
